<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link href="./styles.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="../js/custom.js"></script>
</head>
<body>
	<div class="container">
	<div class="row">
	<h1>DashBoard</h1>
	<button class="btn btn-large pull-right" onclick="window.location.href = './addTransaction.html'">+</button>
	<button class="btn btn-large btn-danger pull-right" onclick="logout()">Logout</button>
	</div>
	<div class="row">
	<input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Search">
	<table class="table" id="transactionTable">
	  	<thead>
	    	<tr>
		      	<th onclick="sortTable(0)">Date</th>
		      	<th onclick="sortTable(1)">Transaction Type</th>
		      	<th onclick="sortTable(2)">Location</th>
		      	<th onclick="sortTable(3)">Value</th>
	    	</tr>
	  	</thead>
	  	<tbody>
		    <tr data-toggle="modal" data-target=".bs-example-modal-lg">
		      <td scope="row">10-02-2018</th>
		      <td>Grocery</td>
		      <td>FreshCo</td>
		      <td>123</td>
		    </tr>
		    <tr data-toggle="modal" data-target=".bs-example-modal-lg">
		      <td scope="row">09-02-2018</th>
		      <td>Fuel</td>
		      <td>Gas Station</td>
		      <td>99</td>
		    </tr>
		    <tr data-toggle="modal" data-target=".bs-example-modal-lg">
		      <td scope="row">17-02-2018</th>
		      <td>Rent</td>
		      <td>15 Green valley drive</td>
		      <td>500</td>
		    </tr>
		    <tr data-toggle="modal" data-target=".bs-example-modal-lg">
		      <td scope="row">19-02-2018</th>
		      <td>Shopping</td>
		      <td>Sears</td>
		      <td>69</td>
		    </tr>
	  	</tbody>
	</table>
	</div>
	</div>
</body>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    	<table class="table">
	  	<thead>
	    	<tr>
		      	<th>Date</th>
		      	<th>Transaction Type</th>
		      	<th>Location</th>
		      	<th>Value</th>
	    	</tr>
	  	</thead>
	  	<tbody>
		    <tr>
		      <td scope="row">19-02-2018</th>
		      <td>Grocery</td>
		      <td>FreshCo (Weber St.)</td>
		      <td>123</td>
		    </tr>
		    <tr>
		      <td scope="row">19-02-2018</th>
		      <td>Fuel</td>
		      <td>Gas Station (Green Valley Drive)</td>
		      <td>99</td>
		    </tr>
		    <tr>
		      <td scope="row">19-02-2018</th>
		      <td>Rent</td>
		      <td>15 Green Valley Drive</td>
		      <td>500</td>
		    </tr>
	  	</tbody>
	</table>
    </div>
  </div>
</div>
</html>
