<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link href="../styles.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
	<div class="row alignCenter">
		<form class="signin-form mg-bottom">
		<h3 class="heading-desc">
		<button type="button" class="close pull-right" aria-hidden="true"></button>
		Sign Up</h3>
			<div class="mainContainer">	
				<input type="text" class="form-control" placeholder="Email" autofocus>
				<input type="text" class="form-control" placeholder="Username">
		        <input type="password" class="form-control" placeholder="Password">
				<span class="clearfix"></span>	
	        </div>
			<div class="login-footer">
				<div class="row">  
					<div class="col-xs-6 col-md-6">
		                <div class="left-section">
							<span>Already a member?</span>
							<a href="../index.html">Login</a>
						</div>
		            </div>
		        	<div class="col-xs-6 col-md-6 pull-right">
	            		<button type="submit" class="btn btn-large btn-danger pull-right">Register</button>
	        		</div>
	        	</div>
			</div>
      	</form>
	</div>
	</div>
</body>
</html>